*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#itemstable{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}

.tool:hover{
    opacity: 100%;
}

#brushSizeButton{
    background-color: #252A36;
    border: none;
}

#brushSizeMenu{
    background-color: #252A36;
    min-width: 100%;
}